---
import { Container } from '@littlesticks/odyssey-theme-components';
import Layout from './Page.astro'; 
import { generateTagData } from '../utils/helpers';

const {content: {title, description, publishDate, canonicalURL, featuredImage, showFeaturedImageOnPostPage = true, tags} } = Astro.props;

const allTagsData = generateTagData(tags);

const seo = {
	title,
	description,
  publishDate,
	canonicalURL,
	image: featuredImage,
};
---

<Layout seo={seo}> 
  <div class="post-header__container"> 
    <h1>{title}</h1>
    <ul class="post-tags__list">
      {allTagsData.map(tag => (
        <li class="post-tags__tag">
          <a href={`/tags/${tag.slug}`}>
            {tag.title}
          </a>
        </li>
      ))}
    </ul>
    <p class="post-layout__date">
      <time><em>{publishDate}</em></time>
    </p>
    {showFeaturedImageOnPostPage && <img class="post-layout__img" src={featuredImage} alt={title} />}
  </div>
  <Container narrow>  
    <article id="article">
        <slot></slot>
    </article>
  </Container>
</Layout>

<style>
  #article {
    padding-bottom: 3rem;
  }
  .post-header__container {
    max-width: var(--theme-blog-post-header-width);
    margin: 1rem auto;
    padding: var(--container-padding);
  }
  .post-tags__list {
    margin: 1rem auto;
    padding: 0;
    list-style: none;
  }
  .post-tags__tag {
    text-transform: uppercase;
    display: inline;
    background-color: var(--theme-surface-1);
    margin-right: 0.5rem;
    padding: 0.25rem;
  }
  .post-tags__tag a {
    font-size: var(--font-size-sm);
    text-decoration: none;
  }
  .post-layout__img {
    margin: 0 auto 1rem auto;
    border-radius: var(--theme-shape-radius);
  }
  .post-layout__date {
    margin-bottom: 1rem;
    opacity: 0.84;
  }
</style>